Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

Rename OTP policies to clarify differences
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Require staff users to have OTP setup in sandbox project
  project/hidp_sandbox/settings.py
Labels: project

Exempt OTPSetupView from OTP requiredness
  packages/hidp/hidp/otp/views.py
Labels: package

Add assertion for middleware redirection behaviour
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Add OTP policy requiring all logged in users to verify
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Move basic verification requirements into OTPMiddlewareBase
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Prevent queries when view_func needs no verification
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Prevent the OTPMiddlewareBase from being used directly
  packages/hidp/hidp/otp/middleware.py
Labels: package

Split the login OTP verification form
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/otp_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/verify_recovery_code.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Use OTPVerifyFormBase in OTPSetupForm
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/templates/hidp/otp/setup_device.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Ensure that there is always a device selected for verification
  packages/hidp/hidp/otp/forms.py
  packages/hidp/tests/unit_tests/test_otp/test_forms.py
Labels: package

Use more descriptive label name
  packages/hidp/hidp/otp/forms.py
Labels: package

Use static method to create otp_token field
  packages/hidp/hidp/otp/forms.py
Labels: package

Use pre-login base template for verification step
  packages/hidp/hidp/templates/hidp/otp/verify.html
Labels: package

Add OTP-verification flow to use-cases of pre-login template
  packages/hidp/hidp/templates/hidp/base_pre_login.html
Labels: package

Check for required django_otp plugins
  packages/hidp/hidp/config/urls.py
Labels: package

Use more idiomatic way to check for installed apps
  packages/hidp/hidp/config/urls.py
Labels: package

Hint where to place required middleware
  packages/hidp/hidp/config/checks.py
Labels: package

Allow disabling 2FA using recovery codes
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/disable_recovery_code.html
  packages/hidp/hidp/templates/hidp/otp/verify.html
  packages/hidp/hidp/templates/hidp/otp/verify_recovery_code.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Rename the application
  packages/hidp/README.md
  packages/hidp/docs/conf.py
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/docs/content-security-policy.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Rename the application
  packages/hidp/README.md
  packages/hidp/docs/conf.py
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/docs/content-security-policy.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Add/update authors
  packages/hidp/docs/conf.py
  packages/hidp/pyproject.toml
Labels: package, documentation

Raise custom errors for erroneous device collection
  packages/hidp/hidp/otp/exceptions.py
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/test/factories/otp_factories.py
  packages/hidp/tests/unit_tests/test_otp/test_forms.py
Labels: package

Apply default rate limit to views
  packages/hidp/hidp/otp/views.py
Labels: package

Remove superfluous repeated decorators on subclass
  packages/hidp/hidp/otp/views.py
Labels: package

Exempt the logout view from OTP requiredness
  packages/hidp/hidp/accounts/views.py
Labels: package

Move context to base mailer class
  packages/hidp/hidp/otp/mailers.py
Labels: package

Send notification on recovery code use
  packages/hidp/hidp/otp/devices.py
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/mailers.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/email/disabled_body.html
  packages/hidp/hidp/templates/hidp/otp/email/recovery_code_used_body.html
  packages/hidp/hidp/templates/hidp/otp/email/recovery_code_used_body.txt
  packages/hidp/hidp/templates/hidp/otp/email/recovery_code_used_subject.txt
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
  packages/hidp/tests/unit_tests/test_otp/test_devices.py
Labels: package

Send notification on otp setup
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/mailers.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/email/configured_body.html
  packages/hidp/hidp/templates/hidp/otp/email/configured_body.txt
  packages/hidp/hidp/templates/hidp/otp/email/configured_subject.txt
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Send notification on recovery code regeneration
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/mailers.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/email/recovery_codes_regenerated_body.html
  packages/hidp/hidp/templates/hidp/otp/email/recovery_codes_regenerated_body.txt
  packages/hidp/hidp/templates/hidp/otp/email/recovery_codes_regenerated_subject.txt
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Update message catalog
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Send notification on OTP disable
  packages/hidp/hidp/otp/mailers.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/email/disabled_body.html
  packages/hidp/hidp/templates/hidp/otp/email/disabled_body.txt
  packages/hidp/hidp/templates/hidp/otp/email/disabled_subject.txt
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Allow redirection from OTP setup view
  packages/hidp/hidp/otp/views.py
Labels: package

Test redirection behaviour of OTP setup view
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Add documentation for OTP
  packages/hidp/docs/index.md
  packages/hidp/docs/one-time-passwords.md
Labels: package, documentation

Make docstrings more Sphinx-friendly
  packages/hidp/hidp/otp/middleware.py
Labels: package

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

Update dutch translation for two factor authentication
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Reformat recovery codes to avoid white space in pre
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/recovery_codes.html
Labels: package

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'
