Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

Add cancel link to OIDC account link/unlink pages
  packages/hidp/docs/templates.md
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/federated/account_link.html
Labels: package, documentation

Move the base_form template into the includes directory
  packages/hidp/hidp/templates/hidp/accounts/forms/authentication_form.html
  packages/hidp/hidp/templates/hidp/accounts/forms/rate_limited_authentication_form.html
  packages/hidp/hidp/templates/hidp/accounts/forms/user_creation_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/edit_user_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/email_change_cancel_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/email_change_confirm_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/email_change_request_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/password_change_form.html
  packages/hidp/hidp/templates/hidp/accounts/management/forms/set_password_form.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/forms/password_reset_form.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/forms/password_reset_request_form.html
  packages/hidp/hidp/templates/hidp/accounts/verification/forms/email_verification_form.html
  packages/hidp/hidp/templates/hidp/federated/forms/account_link_form.html
  packages/hidp/hidp/templates/hidp/federated/forms/account_unlink_form.html
  packages/hidp/hidp/templates/hidp/federated/forms/registration_form.html
  packages/hidp/hidp/templates/hidp/includes/forms/base_form.html
Labels: package

Add submit_row inclusion template
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/logout_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/hidp/templates/hidp/accounts/management/password_change.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_request.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_required.html
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
  packages/hidp/hidp/templates/hidp/federated/account_link.html
  packages/hidp/hidp/templates/hidp/federated/registration.html
  packages/hidp/hidp/templates/hidp/includes/forms/submit_row.html
Labels: package

Remove special case behaviour of account unlink template
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/federated/account_unlink.html
Labels: package

Use a form to navigate to the set_password_url
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Update docs
  packages/hidp/docs/templates.md
Labels: package, documentation

Use back_url instead of cancel_url
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
Labels: package

Remove punctuation from labels
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Correct error message
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Replace back links with submit rows
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel_done.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_complete.html
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/hidp/templates/hidp/accounts/management/password_change_done.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password_done.html
Labels: package

Try response_mode=form_post
  docker/conf/nginx/default.conf
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/views.py
Labels: docker-setup, package

Correctly pluralize template translation
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
Labels: package

Add inclusion templates for the OIDC provider list element
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
  packages/hidp/hidp/templates/hidp/includes/federated/oidc_provider_list.html
  packages/hidp/hidp/templates/hidp/includes/federated/oidc_provider_list_option.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package, documentation

Add missing paragraph tag
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
Labels: package

Update message catalog
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Reformat templates and fix some (markup) inconsistencies
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/logout_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_complete.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_email_sent.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_request.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
  packages/hidp/hidp/templates/hidp/accounts/tos.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_complete.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_required.html
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
  packages/hidp/hidp/templates/hidp/federated/account_link.html
  packages/hidp/hidp/templates/hidp/federated/account_unlink.html
  packages/hidp/hidp/templates/hidp/includes/federated/oidc_provider_list.html
  packages/hidp/hidp/templates/hidp/includes/forms/submit_row.html
Labels: package

Add EditAccountDoneView
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account_done.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package, documentation

Move OIDC management into it's own url namespace
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/urls.py
  packages/hidp/hidp/federated/oidc_client_urls.py
  packages/hidp/hidp/federated/oidc_management_urls.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/federated/linked_services.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package, documentation

Add url module docstrings
  packages/hidp/hidp/federated/oidc_client_urls.py
  packages/hidp/hidp/federated/oidc_management_urls.py
Labels: package

Move account management into it's own namespace
  packages/hidp/hidp/accounts/account_management_urls.py
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/mailers.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/urls.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
  project/hidp_sandbox/urls.py
  project/tests/smoke_tests/test_root.py
Labels: package, project

Add dedicated pages to display a success message when linking/unlinking an account
  packages/hidp/docs/templates.md
  packages/hidp/hidp/federated/oidc_management_urls.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/federated/account_link_done.html
  packages/hidp/hidp/templates/hidp/federated/account_unlink_done.html
  packages/hidp/hidp/templates/hidp/federated/linked_services.html
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package, documentation

Use the same template to show a message for invalid links
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel_invalid_link.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm_invalid_link.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_invalid_link.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_required.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_required_invalid_link.html
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email_invalid_link.html
  packages/hidp/hidp/templates/hidp/base_invalid_link.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package, documentation

Add heading to password reset flow pages
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_complete.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_email_sent.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_request.html
Labels: package

Fix whitespace
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel_done.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/hidp/templates/hidp/accounts/management/password_change.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/hidp/templates/hidp/base_invalid_link.html
  packages/hidp/hidp/templates/hidp/federated/linked_services.html
Labels: package

Make ui_locales work together with Django's LocaleMiddleware
  packages/hidp/hidp/oidc_provider/middleware.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
Labels: package

Add documentation about translations
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
  packages/hidp/docs/templates.md
  packages/hidp/docs/translations.md
Labels: package, documentation

Add a back link to the password reset page
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_request.html
Labels: package, documentation

Add missing back/cancel links in the email change request flow
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request_sent.html
Labels: package, documentation

Use a temporary redirect
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Restore missing hr
  packages/hidp/hidp/templates/hidp/federated/linked_services.html
Labels: package

Remove unused extra blocks
  packages/hidp/hidp/templates/hidp/base.html
Labels: package

Correct template blocks
  packages/hidp/docs/templates.md
Labels: package, documentation

HIDP-192 Remove unused extra blocks
  packages/hidp/docs/templates.md
  packages/hidp/hidp/templates/hidp/base.html
Labels: package, documentation

Make OpendIdConnection.__str__ more human friendly
  packages/hidp/hidp/federated/models.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/tests/unit_tests/test_federated/test_models.py
Labels: package

Add pycqa to dependabot config
  .github/dependabot.yml
Labels: none

FURB156 Use of hardcoded string charset
  packages/hidp/tests/unit_tests/test_accounts/test_password_validation.py
Labels: package

Add html email templates
  packages/hidp/hidp/accounts/mailers.py
  packages/hidp/hidp/templates/hidp/accounts/management/email/email_change_body.html
  packages/hidp/hidp/templates/hidp/accounts/management/email/email_changed_body.html
  packages/hidp/hidp/templates/hidp/accounts/management/email/password_changed_body.html
  packages/hidp/hidp/templates/hidp/accounts/management/email/proposed_email_exists_body.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/password_reset_body.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/set_password_body.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email/account_exists_body.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email/verification_body.html
  packages/hidp/hidp/templates/hidp/base_email.html
Labels: package

Update messages
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Update docs
  packages/hidp/docs/templates.md
Labels: package, documentation

Add template used check in tests
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'
