Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'

Describe the release workflow
  README.md
Labels: none

Add a management command to keep JWKs up to date
  packages/hidp/hidp/federated/management/__init__.py
  packages/hidp/hidp/federated/management/commands/__init__.py
  packages/hidp/hidp/federated/management/commands/refresh_oidc_clients_jwks.py
  packages/hidp/hidp/federated/oidc/jwks.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_jwks.py
Labels: package

Replace most instances of JWK(s) (data) with signing keys
  packages/hidp/hidp/config/oidc_clients.py
  packages/hidp/hidp/federated/management/commands/refresh_oidc_clients_jwks.py
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/oidc/jwks.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_jwks.py
Labels: package

Add default rate limits and apply to urls and views
  packages/hidp/hidp/accounts/oidc_provider_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/rate_limit/decorators.py
  packages/hidp/tests/unit_tests/test_rate_limit/test_decorators.py
Labels: package

Require django.contrib.messages
  packages/hidp/docs/installation.md
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
Labels: package, documentation

Treat missing/wrong state as a special error
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/oidc/exceptions.py
Labels: package

Catch errors during callback and tell the user to try again
  packages/hidp/hidp/accounts/templates/accounts/login.html
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

OIDC states need to expire to prevent them from lingering in the session
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
Labels: package

Add user model page to docs
  packages/hidp/docs/conf.py
  packages/hidp/docs/index.md
  packages/hidp/docs/user-model.md
Labels: package, documentation

Wrap additional inherited properties and methods
  packages/hidp/hidp/accounts/models.py
  packages/hidp/tests/unit_tests/test_accounts/test_user_model.py
Labels: package

Rewrite docstrings to google style
  packages/hidp/hidp/accounts/models.py
Labels: package

Wrap Django's UserCreationForm
  packages/hidp/hidp/accounts/forms.py
Labels: package

Add basic registration view
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/templates/accounts/register.html
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/urls.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Don't allow logged in users to register
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Test next param
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Link to registration page from login
  packages/hidp/hidp/accounts/templates/accounts/login.html
Labels: package

Apply very strict rate limits
  packages/hidp/hidp/accounts/views.py
Labels: package

Update wording in docstrings
  packages/hidp/hidp/accounts/forms.py
Labels: package

Make sure redis is started
  docker-compose.yml
Labels: docker-setup

Remove UserAdmin
  packages/hidp/hidp/accounts/admin.py
Labels: package

Add user model to sandbox
  project/hidp_sandbox/accounts/__init__.py
  project/hidp_sandbox/accounts/migrations/0001_initial.py
  project/hidp_sandbox/accounts/migrations/__init__.py
  project/hidp_sandbox/accounts/models.py
  project/hidp_sandbox/settings.py
Labels: project

Remove User from hidp.accounts
  packages/hidp/hidp/accounts/migrations/0001_initial.py
  packages/hidp/hidp/accounts/models.py
  packages/hidp/hidp/test/factories/user_factories.py
Labels: package

Add CustomUser to tests
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/custom_user/__init__.py
  packages/hidp/tests/custom_user/migrations/0001_initial.py
  packages/hidp/tests/custom_user/migrations/__init__.py
  packages/hidp/tests/custom_user/models.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_accounts/test_user_manager.py
  packages/hidp/tests/unit_tests/test_config/test_checks.py
Labels: package

Update documentation
  packages/hidp/docs/installation.md
  packages/hidp/docs/user-model.md
Labels: package, documentation

Add PasswordResetForm
  packages/hidp/hidp/accounts/forms.py
Labels: package

Add PasswordResetRequestForm
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/templates/accounts/recovery/email/password_reset_body.txt
  packages/hidp/hidp/accounts/templates/accounts/recovery/email/password_reset_subject.txt
Labels: package

Add the password reset flow view, templates and urls
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_complete.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_email_sent.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_request.html
  packages/hidp/hidp/accounts/views.py
Labels: package

Use UserModel for UserCreationForm as well
  packages/hidp/hidp/accounts/forms.py
Labels: package

Update Sphinx
  packages/hidp/docs/requirements.txt
  packages/hidp/requirements.txt
Labels: package, documentation

Update dependabot config
  .github/dependabot.yml
Labels: none

Update dependabot config
  .github/dependabot.yml
Labels: none

Apply rate limits
  packages/hidp/hidp/accounts/views.py
Labels: package

Normalize template strings
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_complete.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_email_sent.html
  packages/hidp/hidp/accounts/templates/accounts/recovery/password_reset_request.html
Labels: package

Add password reset link to login page
  packages/hidp/hidp/accounts/templates/accounts/login.html
Labels: package

Test password recovery flow
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Update manifest
  packages/hidp/MANIFEST.in
Labels: package

Expand docstrings
  packages/hidp/hidp/accounts/forms.py
Labels: package

Add password path segment to password recovery urls
  packages/hidp/hidp/accounts/account_urls.py
Labels: package

hiredis>=2.3,<3.1
  project/requirements_local.txt
Labels: project

Add agreed_to_tos field
  packages/hidp/hidp/accounts/models.py
Labels: package
