Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'

Add middleware to set csp header
  packages/hidp/hidp/csp/__init__.py
  packages/hidp/hidp/csp/middleware.py
  packages/hidp/tests/unit_tests/test_csp/__init__.py
  packages/hidp/tests/unit_tests/test_csp/test_middleware.py
Labels: package

Add CSP middleware and context processor to sandbox settings
  project/hidp_sandbox/settings.py
Labels: project

Add check for csp configuration
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_config/test_checks.py
Labels: package

Add decorator that signals csp middleware to set csp header
  packages/hidp/docs/content-security-policy.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/csp/decorators.py
  packages/hidp/hidp/csp/middleware.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/oidc_provider/views.py
  packages/hidp/tests/unit_tests/test_csp/test_decorators.py
  packages/hidp/tests/unit_tests/test_csp/test_middleware.py
Labels: package, documentation

Add documentation for Content Security Policy
  packages/hidp/docs/content-security-policy.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Rename password_validators module to password_validation to follow Django's lead
  packages/hidp/hidp/accounts/password_validation.py
  packages/hidp/tests/unit_tests/test_accounts/test_password_validation.py
Labels: package

Add expanded password validation docs
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
  packages/hidp/docs/password-validation.md
Labels: package, documentation

Add csp decorator that adds csp header
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/csp/__init__.py
  packages/hidp/hidp/csp/decorators.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/oidc_provider/views.py
  packages/hidp/tests/unit_tests/test_csp/__init__.py
  packages/hidp/tests/unit_tests/test_csp/test_decorators.py
Labels: package

Tweak validator help_text
  packages/hidp/hidp/accounts/password_validation.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/tests/unit_tests/test_accounts/test_password_validation.py
Labels: package

Require hidp.csp app in installed apps
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
  project/hidp_sandbox/settings.py
Labels: package, project

Add template tag to expose nonce to templates
  packages/hidp/hidp/csp/templatetags/__init__.py
  packages/hidp/hidp/csp/templatetags/csp_nonce.py
  packages/hidp/tests/unit_tests/test_csp/test_templatetags.py
Labels: package

Document csp decorator and template tag
  packages/hidp/docs/content-security-policy.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Remove watchman
  project/Dockerfile
Labels: docker-setup, project

Ignore docs build folder
  .gitignore
Labels: none

Update sandbox password validators
  project/hidp_sandbox/settings.py
Labels: project

Add password changed mailer
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/templates/hidp/accounts/management/email/password_changed_body.txt
  packages/hidp/hidp/templates/hidp/accounts/management/email/password_changed_subject.txt
Labels: package

Add mailer to set, reset and change password views
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Document password changed email templates
  packages/hidp/docs/templates.md
Labels: package, documentation

Update OIDC provider docs to mention DRF
  packages/hidp/docs/configure-as-oidc-provider.md
Labels: package, documentation

Fix minor typo
  packages/hidp/docs/configure-as-oidc-provider.md
Labels: package, documentation

Extract shared token generation logic to base token generator
  packages/hidp/hidp/accounts/tokens.py
  packages/hidp/hidp/federated/tokens.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens.py
Labels: package

Remove duplicate manage prefix
  packages/hidp/hidp/accounts/account_urls.py
Labels: package

Support permanently changing the max. days for remove_stale_unverified_accounts
  packages/hidp/docs/management-commands.md
  packages/hidp/hidp/accounts/management/commands/remove_stale_unverified_accounts.py
Labels: package, documentation

Reorder and rewrite management commands docs for clarity and completeness
  packages/hidp/docs/conf.py
  packages/hidp/docs/management-commands.md
Labels: package, documentation

Add custom user queryset with lookup methods for convenience
  packages/hidp/hidp/accounts/models.py
  packages/hidp/tests/unit_tests/test_accounts/test_user_manager.py
Labels: package

Use email_unverified lookup
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/views.py
Labels: package

Update user model docs
  packages/hidp/docs/user-model.md
Labels: package, documentation

Loosen dependency pins where appropriate
  packages/hidp/requirements.txt
  packages/hidp/requirements_oidc_provider.txt
Labels: package

Bump Python for development and CI
  .github/actions/setup-python/action.yml
  project/Dockerfile
Labels: docker-setup, project

Add EmailChangeRequest model
  packages/hidp/hidp/accounts/migrations/0001_initial.py
  packages/hidp/hidp/accounts/migrations/__init__.py
  packages/hidp/hidp/accounts/models.py
  packages/hidp/hidp/test/factories/user_factories.py
Labels: package

Add change email request page that checks password
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request_sent.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Add mailer that sends mails with placeholder confirmation urls
  packages/hidp/hidp/accounts/email_change.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email/email_change_body.txt
  packages/hidp/hidp/templates/hidp/accounts/management/email/email_change_subject.txt
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add templates to documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

Log exceptions to make it easier to debug issues
  packages/hidp/hidp/federated/views.py
Labels: package

Chain general wrapped exceptions to facilitate debugging
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
Labels: package

Use postgres db in CI
  packages/hidp/tests/test_settings.py
Labels: package

Install hiredis as an extra instead of seperately
  project/requirements_local.txt
Labels: project

Move and update cache config
  project/hidp_sandbox/local.example.ini
  project/hidp_sandbox/settings.py
Labels: project
