Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'

Remove empty migrations module
  packages/hidp/hidp/accounts/migrations/__init__.py
Labels: package

Update migrations
  packages/hidp/tests/custom_user/migrations/0001_initial.py
  project/hidp_sandbox/accounts/migrations/0001_initial.py
Labels: package, project

Require and store agreed_to_tos in UserCreationForm
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Add Terms of Service
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/templates/accounts/tos.html
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Add link to TOS
  packages/hidp/hidp/accounts/forms.py
Labels: package

Make sure agreed_to_tos is set
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Make it possible to remove the TOS field from the UserCreationForm
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/tests/unit_tests/test_accounts/test_forms.py
Labels: package

Add a comment to clearly explain that this is not a real TOS
  packages/hidp/hidp/accounts/templates/accounts/tos.html
Labels: package

Use a different database name to prevent InconsistentMigrationHistory
  packages/hidp/tests/test_settings.py
Labels: package

Update forms import, to prevent import wrapping
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/unit_tests/test_accounts/test_forms.py
Labels: package

Update installation documentation
  packages/hidp/docs/installation.md
Labels: package, documentation

Update ruff to 0.5.5 and ignore new DOC ruff rules in pyproject.toml
  packages/hidp-pycqa/pyproject.toml
Labels: package

Update ruff to 0.5.5 and ignore new DOC ruff rules in pyproject.toml
  packages/hidp-pycqa/pyproject.toml
Labels: package

Update ruff to version 0.5.5
  packages/hidp-pycqa/pyproject.toml
Labels: package

Add a page to tell users that email verification is required
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/templates/accounts/verification/email_verification_required.html
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Redirect to verification required view after signup
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Redirect unverified users to the verification required page after login
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/test/factories/user_factories.py
  packages/hidp/tests/smoke_tests/test_accounts/test_login.py
Labels: package

Add EmailVerificationRequestTokenGenerator
  packages/hidp/hidp/accounts/tokens.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens/__init__.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens/test_email_verification.py
Labels: package

Pretend that signup using an existing email address is possible
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Add abstract base class for sending templated emails
  packages/hidp/hidp/accounts/mailer.py
Labels: package

Add AccountExistsMailer
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/templates/accounts/verification/email/account_exists_body.txt
  packages/hidp/hidp/accounts/templates/accounts/verification/email/account_exists_subject.txt
Labels: package

Send the account exists mail
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

The verification required page is visible to users that have verified and/or are inactive
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Add a form that updates the email_verified field
  packages/hidp/hidp/accounts/forms.py
Labels: package

Add EmailVerificationCompleteView
  packages/hidp/hidp/accounts/views.py
Labels: package

Rate limit
  packages/hidp/hidp/accounts/views.py
Labels: package

Add EmailVerificationView
  packages/hidp/hidp/accounts/templates/accounts/verification/verify_email.html
  packages/hidp/hidp/accounts/views.py
Labels: package

Add option to resend the verification link
  packages/hidp/hidp/accounts/templates/accounts/verification/email_verification_required.html
  packages/hidp/hidp/accounts/views.py
Labels: package

Add url patterns
  packages/hidp/hidp/accounts/account_urls.py
Labels: package

Add a token generator for email verification
  packages/hidp/hidp/accounts/tokens.py
Labels: package

Send the verification email to users that login without verification
  packages/hidp/hidp/accounts/views.py
Labels: package

Add a form that sends an email verification link
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/templates/accounts/verification/email/verification_body.txt
  packages/hidp/hidp/accounts/templates/accounts/verification/email/verification_subject.txt
Labels: package

Remove the usable_password field
  packages/hidp/hidp/accounts/forms.py
Labels: package

The verification required page is visible to users that have verified and/or are inactive
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Add missing "agree_to_tos"
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Add documentation related to rate limits and security considerations
  packages/hidp/docs/conf.py
  packages/hidp/docs/index.md
  packages/hidp/docs/rate-limiting.md
Labels: package, documentation

Add token generator for email verification request
  packages/hidp/hidp/accounts/tokens.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens.py
Labels: package

Add a page to tell users that email verification is required
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/templates/accounts/verification/email_verification_required.html
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Redirect to verification required view after signup
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Redirect unverified users to the verification required page after login
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/test/factories/user_factories.py
  packages/hidp/tests/smoke_tests/test_accounts/test_login.py
Labels: package
