Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

Disable eagerly_provision_jwk_store
  project/hidp_sandbox/settings.py
Labels: project

Remove eagerly_provision_jwks_store flag
  packages/hidp/hidp/config/oidc_clients.py
  packages/hidp/tests/unit_tests/test_config/test_oidc_client_registry.py
Labels: package

Add a quick start, point to refresh_oidc_clients_jwks and some small tweaks
  packages/hidp/docs/configure-oidc-clients.md
Labels: package, documentation

Make get_oidc_client_or_404 a regular function
  packages/hidp/hidp/config/oidc_clients.py
  packages/hidp/hidp/federated/views.py
Labels: package

Simplify OIDC connection lookup
  packages/hidp/hidp/federated/views.py
Labels: package

Remove unused get_by_user_and_provider method
  packages/hidp/hidp/federated/models.py
  packages/hidp/tests/unit_tests/test_federated/test_models.py
Labels: package

Prefer dict merge
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
Labels: package

Add token generator for confirming email change requests
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/tokens.py
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens.py
Labels: package

Move remove stale unverified accounts command to verification test
  packages/hidp/tests/smoke_tests/test_accounts/test_remove_stale_unverified_accounts.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Add email change complete view
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_complete.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Add email change confirm view
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_confirm.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add templates to documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

Document new management command
  packages/hidp/docs/management-commands.md
Labels: package, documentation

Add remove complete and stale email change requests management command
  packages/hidp/hidp/accounts/email_change.py
  packages/hidp/hidp/accounts/management/commands/remove_complete_and_stale_email_change_requests.py
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Update form to check for usable password and add tests for edge case
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_request.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Tweak docstring
  packages/hidp/hidp/federated/views.py
Labels: package

Prevent users from locking themselves out
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/federated/account_unlink.html
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Remove the option to unlink if it would result in a unusable account
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package, documentation

Update messages
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add more documentation for get_oauth2_provider_settings and its defaults
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/hidp/config/oauth2_provider.py
Labels: package, documentation

Add verbose name to created_at/last_modified
  packages/hidp/hidp/federated/migrations/0001_initial.py
  packages/hidp/hidp/federated/models.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Document cancel email change templates
  packages/hidp/docs/templates.md
Labels: package, documentation

Add cancel email change request functionality
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email/email_change_body.txt
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel.html
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_cancel_done.html
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
Labels: package

Keep messages sorted by file
  packages/hidp/tests/translations/management/commands/makemessages.py
Labels: package

Refresh messages
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Consistently apply kwargs to get_context_data
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
Labels: package

Tweak context in EmailChangeCompleteView
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/email_change_complete.html
Labels: package, documentation

Rename mailer to mailers
  packages/hidp/hidp/accounts/mailers.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Fix accidental tuple in mailer context
  packages/hidp/hidp/accounts/mailers.py
Labels: package

Show a different message when linking an OIDC account with a different email address
  packages/hidp/docs/templates.md
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/federated/account_link.html
Labels: package, documentation

Update documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

remove dependencies on context processors
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
  project/hidp_sandbox/settings.py
Labels: package, project

Update translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Switch to definition lists to explain template blocks and context vars
  packages/hidp/docs/templates.md
Labels: package, documentation

No need to say that the message is simple
  packages/hidp/docs/templates.md
Labels: package, documentation

No need to make headings bold
  packages/hidp/docs/templates.md
Labels: package, documentation

Flatten template docs structure a bit
  packages/hidp/docs/templates.md
Labels: package, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'
