Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Remove django admin from hidp sandbox
  project/hidp_sandbox/settings.py
  project/hidp_sandbox/urls.py
  project/tests/smoke_tests/test_django_admin.py
Labels: project

Add success message after successful unlink
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Add account unlink view and form
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/federated/models.py
  packages/hidp/hidp/federated/oidc_client_urls.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/hidp/templates/hidp/federated/account_unlink.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
  packages/hidp/tests/unit_tests/test_federated/test_models.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Update documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

Add get_oidc_client_or_none utility
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/oidc_clients.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/unit_tests/test_config/test_oidc_client_registry.py
Labels: package

Integrate confirm checkboxes in submit buttons
  packages/hidp/hidp/templates/hidp/federated/account_link.html
  packages/hidp/hidp/templates/hidp/federated/account_unlink.html
Labels: package

Move router and urls
  packages/hidp/hidp/api/urls.py
  packages/hidp/hidp/config/urls.py
  project/hidp_sandbox/router.py
  project/hidp_sandbox/urls.py
Labels: package, project

Add oidc_provider to sandbox
  project/hidp_sandbox/settings.py
  project/requirements.txt
Labels: project

Add api app and install djangorestframework
  packages/hidp/hidp/api/__init__.py
  packages/hidp/hidp/api/apps.py
  packages/hidp/hidp/config/checks.py
  packages/hidp/requirements_oidc_provider.txt
  packages/hidp/tests/test_settings.py
  project/requirements.txt
Labels: package, project

Add user update endpoint
  packages/hidp/hidp/api/serializers.py
  packages/hidp/hidp/api/urls.py
  packages/hidp/hidp/api/views.py
  packages/hidp/tests/unit_tests/test_api/__init__.py
  packages/hidp/tests/unit_tests/test_api/test_views.py
Labels: package

Add has_basic_auth_support flag to OIDCClient
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/providers/base.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
Labels: package

Allow clients to override the OIDC request scope
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/providers/base.py
Labels: package

Just make sure the nonce is empty
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
Labels: package

Add normalize_userinfo to OIDCClient
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/providers/base.py
Labels: package

Add user update endpoint
  packages/hidp/hidp/api/serializers.py
  packages/hidp/hidp/api/urls.py
  packages/hidp/hidp/api/views.py
  packages/hidp/tests/unit_tests/test_api/__init__.py
  packages/hidp/tests/unit_tests/test_api/test_views.py
Labels: package

Add password validators to sandbox
  project/hidp_sandbox/settings.py
Labels: project

Add extra password validators
  packages/hidp/hidp/accounts/password_validators.py
  packages/hidp/tests/unit_tests/test_accounts/test_password_validators.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add note in documentation
  packages/hidp/docs/installation.md
Labels: package, documentation

Add authentication classes
  packages/hidp/hidp/api/views.py
  packages/hidp/tests/unit_tests/test_api/test_views.py
Labels: package

The password change view doesn't support a next parameter
  packages/hidp/hidp/templates/hidp/accounts/management/password_change.html
Labels: package

Split management urls into smaller groups
  packages/hidp/hidp/accounts/account_urls.py
Labels: package

Correct template names
  packages/hidp/docs/templates.md
Labels: package, documentation

Go through openid_connections accessor instead of using the OpenIDConnection model directly
  packages/hidp/hidp/accounts/views.py
Labels: package

Remove name fields if they are both already filled in
  packages/hidp/hidp/accounts/forms.py
Labels: package

Add first and last name to email verification form
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
Labels: package

Add email verification form test
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Remove name fields when both are not provided by the oidc provider
  packages/hidp/hidp/federated/forms.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
  packages/hidp/tests/unit_tests/test_federated/test_forms.py
Labels: package

Add translation
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Implement basic set password feature
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/hidp/templates/hidp/accounts/management/set_password_done.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package, documentation

Redirect to set-password if the user happens to visit the change password view
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Send an email directing the user to the set password view if the try to reset their password
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/set_password_body.txt
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/set_password_subject.txt
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package, documentation

Require a recent login before a user is allowed to set their password
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/set_password.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package, documentation

Add a reauthenticate version of the OIDCAuthenticationRequestView that sets prompt to login and max_age to 0
  packages/hidp/hidp/federated/oidc_client_urls.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Update message catalog
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Include compiled message catalog
  packages/hidp/MANIFEST.in
Labels: package

Ignore compiled message catalog
  .gitignore
Labels: none

Add context processor to expose nonce to templates
  packages/hidp/hidp/csp/context_processors.py
  packages/hidp/tests/unit_tests/test_csp/test_context_processors.py
Labels: package

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'
