Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/build-docs.yml'
      - 'packages/**/docs/**'

Add workflow to deploy docs to GitHub Pages
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
Labels: documentation

Set SESSION_ENGINE to cached_db
  project/hidp_sandbox/settings.py
Labels: project

Move installation instructions to documentation
  packages/hidp/README.md
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
Labels: package, documentation

The Client MUST authenticate to the Token Endpoint using the HTTP Basic method
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
Labels: package

Reject tokens with a nonce value
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
Labels: package

Add OpenIdConnection model
  packages/hidp/hidp/federated/migrations/0001_initial.py
  packages/hidp/hidp/federated/migrations/__init__.py
  packages/hidp/hidp/federated/models.py
  packages/hidp/tests/unit_tests/test_federated/test_models.py
Labels: package

Add OIDCCertificationProvider to project
  project/hidp_sandbox/oidc_providers/__init__.py
  project/hidp_sandbox/oidc_providers/oidc_certification.py
  project/hidp_sandbox/settings.py
Labels: project

Require client_secret when PKCE is not supported
  packages/hidp/hidp/federated/providers/base.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_providers/test_base_oidc_client.py
Labels: package

Refactor url patterns to use path instead of re_path
  packages/hidp/hidp/accounts/oidc_provider_urls.py
Labels: package

Add ratelimits to provider urls
  packages/hidp/hidp/accounts/oidc_provider_urls.py
Labels: package

Update sandbox AUTHENTICATION_BACKENDS to add hidp.federated.auth.backends.OIDCModelBackend
  project/hidp_sandbox/settings.py
Labels: project

Add federated.auth.backends.OIDCModelBackend
  packages/hidp/hidp/federated/auth/__init__.py
  packages/hidp/hidp/federated/auth/backends.py
  packages/hidp/tests/unit_tests/test_federated/test_auth/__init__.py
  packages/hidp/tests/unit_tests/test_federated/test_auth/test_oidc_backend.py
Labels: package

Install both project and package local requirements
  project/entrypoint.sh
Labels: project

Use setup-python in docs workflows
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
Labels: documentation

Extract setup-python from backend action
  .github/actions/backend/action.yml
  .github/actions/setup-python/action.yml
Labels: none

Put venv in ~/.venv
  .github/actions/backend/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
Labels: documentation

Rename backend action to python-qa
  .github/actions/python-qa/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Make build-docs a reusable action
  .github/actions/build-hidp-docs/action.yml
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/test.yml
Labels: documentation
