Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

Add EmailVerificationMailer.get_verification_url
  packages/hidp/hidp/accounts/mailer.py
Labels: package

Add AccountExistsMailer.get_password_reset_url
  packages/hidp/hidp/accounts/mailer.py
Labels: package

Make sure mailers pass extra_context
  packages/hidp/hidp/accounts/mailer.py
Labels: package

Refactor password recovery request to use the mailer system
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Document the rate limited login form with recommendation
  packages/hidp/docs/rate-limiting.md
Labels: package, documentation

Add recommendation about is_superuser and is_staff
  packages/hidp/hidp/accounts/models.py
Labels: package

Fix flaky tests for email_verification_required redirects
  packages/hidp/tests/smoke_tests/test_accounts/test_login.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
Labels: package

Regex match password reset url
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Add middleware to handle ui_locales
  packages/hidp/hidp/translations/__init__.py
  packages/hidp/hidp/translations/middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Make UiLocalesMiddleware independent of Django's LocaleMiddleware
  packages/hidp/hidp/translations/middleware.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_translations/__init__.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Add methods to make silent (re)-authentication work
  packages/hidp/hidp/accounts/oauth_validators.py
  packages/hidp/tests/smoke_tests/test_oauth.py
Labels: package

Add documentation about the provided templates
  packages/hidp/docs/index.md
  packages/hidp/docs/templates.md
Labels: package, documentation

Move RPInitiatedLogoutView to separate module
  packages/hidp/hidp/accounts/oidc_provider_urls.py
  packages/hidp/hidp/accounts/oidc_provider_views.py
  packages/hidp/hidp/accounts/views.py
Labels: package

Make sure logout doesn't break the registration flow
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/register.html
Labels: package

Add next url to context, add link to continue using the current account
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/register.html
Labels: package

Add support for prompt=create
  packages/hidp/hidp/accounts/oidc_provider_urls.py
  packages/hidp/hidp/accounts/oidc_provider_views.py
  packages/hidp/tests/smoke_tests/test_oauth.py
Labels: package

Fix potential server error when accessing email validation urls
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
Labels: package

Update docstring for autoclass documentation
  packages/hidp/hidp/federated/providers/base.py
Labels: package

Make sure gettext is available
  .github/actions/setup-python/action.yml
  project/Dockerfile
Labels: docker-setup, project

Correct usage of translate/blocktranslate for easier translation, update some strings
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/logout_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/password_reset_body.txt
  packages/hidp/hidp/templates/hidp/accounts/recovery/email/password_reset_subject.txt
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_email_sent.html
  packages/hidp/hidp/templates/hidp/accounts/recovery/password_reset_request.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
  packages/hidp/hidp/templates/hidp/accounts/tos.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email/account_exists_body.txt
  packages/hidp/hidp/templates/hidp/accounts/verification/email/account_exists_subject.txt
  packages/hidp/hidp/templates/hidp/accounts/verification/email/verification_body.txt
  packages/hidp/hidp/templates/hidp/accounts/verification/email/verification_subject.txt
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_complete.html
  packages/hidp/hidp/templates/hidp/accounts/verification/email_verification_required.html
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
  packages/hidp/hidp/templates/hidp/federated/account_link.html
Labels: package

Document configuration of oidc clients
  packages/hidp/docs/configure-oidc-clients.md
  packages/hidp/docs/index.md
Labels: package, documentation

Create initial message catalog template and Dutch translation file
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/logout_confirm.html
  packages/hidp/hidp/templates/hidp/accounts/register.html
Labels: package

Make sure translation catalog and template are included in the package
  packages/hidp/MANIFEST.in
Labels: package

Add Dutch translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add blocks for style and script injection
  packages/hidp/docs/templates.md
  packages/hidp/hidp/templates/hidp/base.html
Labels: package, documentation

Add management command to remove never activated accounts
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/management/__init__.py
  packages/hidp/hidp/accounts/management/commands/__init__.py
  packages/hidp/hidp/accounts/management/commands/remove_stale_unverified_accounts.py
  packages/hidp/tests/smoke_tests/test_accounts/test_remove_stale_unverified_accounts.py
Labels: package

Add documentation for remove stale unverified users management command
  packages/hidp/docs/management-commands.md
Labels: package, documentation

Add manage account page
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
Labels: package

Add edit user form to manage account page
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
Labels: package

Remove pointless default comments/headers from message catalogs
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Fill in language meta data
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add custom management command that wraps makemessages
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/translations/__init__.py
  packages/hidp/tests/translations/management/__init__.py
  packages/hidp/tests/translations/management/commands/__init__.py
  packages/hidp/tests/translations/management/commands/makemessages.py
Labels: package

Apply autofix for enable docstring rules
  packages/hidp/hidp/accounts/auth.py
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/compat/uuid7.py
  packages/hidp/hidp/config/oauth2_provider.py
  packages/hidp/tests/unit_tests/test_accounts/test_auth.py
Labels: package

Enable docstring rules except requiring presence of docstrings
  packages/hidp-pycqa/pyproject.toml
Labels: package

Fix simple ruff errors
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/auth.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/models.py
  packages/hidp/hidp/accounts/oauth_validators.py
  packages/hidp/hidp/accounts/oidc_provider_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/compat/uuid7.py
  packages/hidp/hidp/config/oauth2_provider.py
  packages/hidp/hidp/federated/forms.py
  packages/hidp/hidp/federated/models.py
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/oidc/jwks.py
  packages/hidp/hidp/federated/providers/base.py
  packages/hidp/hidp/federated/providers/google.py
  packages/hidp/hidp/federated/providers/microsoft.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
  packages/hidp/tests/smoke_tests/test_oauth.py
  packages/hidp/tests/unit_tests/test_accounts/test_auth.py
  packages/hidp/tests/unit_tests/test_accounts/test_forms.py
  packages/hidp/tests/unit_tests/test_accounts/test_tokens.py
  packages/hidp/tests/unit_tests/test_accounts/test_user_model.py
  packages/hidp/tests/unit_tests/test_federated/test_forms.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_jwks.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
  project/tests/smoke_tests/test_django_admin.py
Labels: package, project

Add noqa directives for ruff errors that require rewrites
  packages/hidp/hidp/accounts/auth.py
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/models.py
  packages/hidp/hidp/accounts/oauth_validators.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/oauth2_provider.py
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/providers/base.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/translations/middleware.py
  packages/hidp/tests/translations/management/commands/makemessages.py
  packages/hidp/tests/unit_tests/test_accounts/test_auth.py
  packages/hidp/tests/unit_tests/test_federated/test_forms.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_jwks.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Add manage account page
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
Labels: package

Add smoke test for manage account page
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Redirect to manage account page after login
  project/hidp_sandbox/urls.py
  project/tests/smoke_tests/test_root.py
Labels: project

Add LoginRequiredMixin
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'
