Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'

Update account management messages
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
Labels: package

Add tasks to update, compile and check the message catalogs
  packages/hidp/Makefile
  packages/hidp/Makefile.tasks.sh
Labels: package

Include new makefile helper script in manifest
  packages/hidp/MANIFEST.in
Labels: package

Improve GitHub actions output
  .github/actions/build-hidp-docs/action.yml
  .github/actions/setup-python/action.yml
  packages/hidp/Makefile
  project/Makefile
Labels: package, project, documentation

Move config, urls and views to separate app
  packages/hidp/hidp/config/oauth2_provider.py
  packages/hidp/hidp/config/urls.py
  packages/hidp/hidp/oidc_provider/__init__.py
  packages/hidp/hidp/oidc_provider/apps.py
  packages/hidp/hidp/oidc_provider/oauth_validators.py
  packages/hidp/hidp/oidc_provider/urls.py
  packages/hidp/hidp/oidc_provider/views.py
Labels: package

Update system checks
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_config/test_checks.py
Labels: package

Make django oauth toolkit dependency optional
  packages/hidp/Makefile
  packages/hidp/pyproject.toml
  packages/hidp/requirements.txt
  packages/hidp/requirements_oidc_provider.txt
Labels: package

Move UiLocalesMiddleware to oidc_provider app
  packages/hidp/hidp/oidc_provider/middleware.py
  packages/hidp/hidp/translations/__init__.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Update documentation
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/docs/configure-oidc-clients.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Remove provider part from sandbox
  project/hidp_sandbox/settings.py
Labels: project

Remove ui_locales workaround
  packages/hidp/hidp/oidc_provider/middleware.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
Labels: package

Rename mixin to OIDCContextMixin
  packages/hidp/hidp/accounts/views.py
Labels: package

Remove messages and admin from required and installed apps
  packages/hidp/docs/installation.md
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
Labels: package, documentation

Replace messages with OIDCError messages
  packages/hidp/docs/templates.md
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/constants.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/login.html
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package, documentation

Rewrite docstrings for ruff to remove noqas
  packages/hidp/hidp/accounts/auth.py
  packages/hidp/hidp/accounts/email_verification.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/mailer.py
  packages/hidp/hidp/accounts/models.py
  packages/hidp/hidp/accounts/tokens.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/config/oauth2_provider.py
  packages/hidp/hidp/federated/oidc/authorization_code_flow.py
  packages/hidp/hidp/federated/providers/base.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/oidc_provider/oauth_validators.py
  packages/hidp/tests/translations/management/commands/makemessages.py
  packages/hidp/tests/unit_tests/test_accounts/test_auth.py
  packages/hidp/tests/unit_tests/test_federated/test_forms.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_jwks.py
  packages/hidp/tests/unit_tests/test_translations/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Add request context processor to test_settings
  packages/hidp/tests/test_settings.py
Labels: package

Add edit user form
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add success message based on success query param
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/edit_account.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Add templates to docs
  packages/hidp/docs/templates.md
Labels: package, documentation

Give all checks an id so they can be ignored
  packages/hidp/hidp/config/checks.py
Labels: package

Log error when sending password reset mails
  packages/hidp/hidp/accounts/views.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
Labels: package

Install oidc_provider dependencies in development
  packages/hidp/requirements_local.txt
Labels: package

Ignore missing OIDC provider config checks
  project/hidp_sandbox/settings.py
Labels: project

Make checking OIDC provider installed apps a distinct check
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/unit_tests/test_config/test_checks.py
Labels: package

Fix broken blocktranslate in logout template
  packages/hidp/hidp/templates/hidp/accounts/logout_confirm.html
Labels: package

Rename root app config
  packages/hidp/hidp/apps.py
Labels: package

Add already linked providers to the page
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Add linked services page with available oidc clients to link account to
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Add success message after account is linked
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/oidc_linked_services.html
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Add translations
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add template to documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

Use relative imports
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
Labels: package

Redirect to registration page after invalid token in OIDC flow
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/templates/hidp/accounts/register.html
Labels: package

Move oidc context mixin to federated app
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/federated/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Remove views from comments
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Add change password view and form
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/forms.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/hidp/templates/hidp/accounts/management/password_change.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Redirect users without a usable password
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/manage_account.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package

Add documentation
  packages/hidp/docs/templates.md
Labels: package, documentation

Add success page after password has been updated
  packages/hidp/hidp/accounts/account_urls.py
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/templates/hidp/accounts/management/password_change_done.html
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
Labels: package
