Repository leukeleu/django-hidp, changes with the labels that .github/labeler.yml gives for each.
All labels: docker-setup, package, project, documentation

.github/labeler.yml:

# https://github.com/marketplace/actions/labeler

docker-setup:
  - changed-files:
    - any-glob-to-any-file:
      - '.dockerignore'
      - 'docker-compose.yml'
      - 'docker/**'
      - '**/.dockerignore'
      - '**/Dockerfile'

package:
  - changed-files:
    - any-glob-to-any-file:
      - 'packages/**'

project:
  - changed-files:
    - any-glob-to-any-file:
      - 'project/**'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/actions/build-hidp-docs/action.yml'
      - '.github/workflows/deploy-docs.yml'
      - 'packages/**/docs/**'

Add additional email template assertions
  packages/hidp/tests/smoke_tests/test_accounts/test_email_change.py
  packages/hidp/tests/smoke_tests/test_accounts/test_login.py
  packages/hidp/tests/smoke_tests/test_accounts/test_management.py
  packages/hidp/tests/smoke_tests/test_accounts/test_recovery.py
  packages/hidp/tests/smoke_tests/test_accounts/test_signup.py
  packages/hidp/tests/smoke_tests/test_accounts/test_verification.py
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
Labels: package

Apply lintfixes (string formatting)
  packages/hidp/tests/smoke_tests/test_oauth.py
  packages/hidp/tests/unit_tests/test_federated/test_oidc/test_authorization_code_flow.py
  packages/hidp/tests/unit_tests/test_federated/test_providers/test_base_oidc_client.py
Labels: package

Fix a typo in django.po
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
Labels: package

Strip trailing slash from base_url
  packages/hidp/hidp/accounts/mailers.py
Labels: package

Add a simple explanation to the verify_email.html template
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/accounts/verification/verify_email.html
Labels: package

Test base mailer to a certain extent
  packages/hidp/hidp/accounts/mailers.py
  packages/hidp/tests/unit_tests/test_accounts/test_base_mailer.py
Labels: package

Exclude custom makemessages command from coverage
  packages/hidp/pyproject.toml
Labels: package

Sync uuid7 implementation with upstream
  packages/hidp/hidp/compat/uuid7.py
Labels: package

Add optional dependencies of the 'otp' extra
  packages/hidp/pyproject.toml
  packages/hidp/requirements_otp.txt
Labels: package

Add 'recommended' extra
  packages/hidp/pyproject.toml
Labels: package

Add 'all' extra and use it in development
  packages/hidp/pyproject.toml
  packages/hidp/requirements_local.txt
  project/requirements.txt
Labels: package, project

Fix dead link
  packages/hidp/docs/installation.md
Labels: package, documentation

Document the available installation extras
  packages/hidp/docs/index.md
  packages/hidp/docs/installation-extras.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Recommend the recommended extra in installation instructions
  packages/hidp/docs/configure-as-oidc-provider.md
  packages/hidp/docs/installation.md
Labels: package, documentation

Add otp url patterns if hidp.otp is in INSTALLED_APPS
  packages/hidp/hidp/config/urls.py
  packages/hidp/hidp/otp/__init__.py
  packages/hidp/hidp/otp/otp_management_urls.py
Labels: package

Add link to OTP overview from account management page
  packages/hidp/hidp/accounts/views.py
Labels: package

Add OTP management overview page
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/devices.py
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/overview.html
  packages/hidp/hidp/test/factories/otp_factories.py
  packages/hidp/tests/smoke_tests/test_otp/__init__.py
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_otp/__init__.py
  packages/hidp/tests/unit_tests/test_otp/test_devices.py
Labels: package

Prevent inadvertent translation of custom names
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/templates/hidp/otp/overview.html
Labels: package

Only import otp_urls when hidp.otp is installed
  packages/hidp/hidp/config/urls.py
Labels: package

Add HIdP OTP to the sandbox project
  project/hidp_sandbox/settings.py
Labels: project

Add checks for the OTP configuration
  packages/hidp/hidp/config/checks.py
  packages/hidp/tests/test_settings.py
  packages/hidp/tests/unit_tests/test_config/test_checks.py
Labels: package

Improve installation note wording
  packages/hidp/docs/installation.md
Labels: package, documentation

Add OTP installation instructions
  packages/hidp/docs/installation.md
Labels: package, documentation

Add comment and warning about translatable strings
  packages/hidp/hidp/otp/devices.py
Labels: package

Add flow to disable OTP
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/disable.html
  packages/hidp/hidp/templates/hidp/otp/overview.html
  packages/hidp/hidp/test/factories/otp_factories.py
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Add flow to view and regenerate recovery codes
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/devices.py
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/overview.html
  packages/hidp/hidp/templates/hidp/otp/recovery_codes.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Use consistent variable names for devices
  packages/hidp/hidp/otp/devices.py
Labels: package

Add OTP setup flow
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/overview.html
  packages/hidp/hidp/templates/hidp/otp/setup_device.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Extract device names to constants
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/devices.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/overview.html
Labels: package

Document the way to deprecate device names
  packages/hidp/hidp/otp/devices.py
Labels: package

Improve documentation of device (non)-translation
  packages/hidp/hidp/otp/devices.py
Labels: package

Disallow editing configured devices
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Allow user to verify OTP
  packages/hidp/hidp/config/urls.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/hidp/otp/otp_urls.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/hidp/templates/hidp/otp/verify.html
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Reuse and translate django-otp error message
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/forms.py
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

Optimise against database access in the best case
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Add "OTP required if configured" policy as a middleware
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
  project/hidp_sandbox/settings.py
Labels: package, project

Add decorator to exempt views from OTP requirement
  packages/hidp/hidp/otp/decorators.py
  packages/hidp/hidp/otp/views.py
  packages/hidp/tests/unit_tests/test_otp/test_decorators.py
Labels: package

Add messages to boolean assertions
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
  packages/hidp/tests/unit_tests/test_otp/test_decorators.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Add policy that requires staff users to have OTP
  packages/hidp/hidp/otp/middleware.py
  packages/hidp/tests/unit_tests/test_otp/test_middleware.py
Labels: package

Move get_redirect_url to base middleware
  packages/hidp/hidp/otp/middleware.py
Labels: package
