Repository leukeleu/django-hidp, pull requests merged in 2025-05, with the labels that each got.

#334 Remove unnecessary executable bit from Makefile
  packages/hidp/Makefile
Labels: package

#335 Fix translation recovery_code_url in blocktranslate
  packages/hidp/hidp/templates/hidp/otp/disable.html
  packages/hidp/hidp/templates/hidp/otp/verify.html
Labels: package, templates

#331 HIDP-218 Add documentation on OTP templates
  packages/hidp/docs/templates.md
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/otp/otp_management_urls.py
  packages/hidp/hidp/otp/views.py
Labels: documentation, package

#339 Add paragraph for more consistent spacing
  packages/hidp/hidp/templates/hidp/federated/account_link_done.html
  packages/hidp/hidp/templates/hidp/federated/account_unlink_done.html
Labels: package, templates

#337 HIDP-178 Use matrix testing to ensure compatibility with multiple versions of Python and Django
  .github/actions/python-qa/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/test.yml
  packages/hidp/Makefile
  packages/hidp/tests/smoke_tests/test_federated/test_views.py
  project/Makefile
Labels: project, package

#342 HIDP-29: Add registration docs
  packages/hidp/docs/index.md
  packages/hidp/docs/installation.md
  packages/hidp/docs/registration.md
Labels: documentation, package

#344 [HIDP-243] Improve the otp_token field by specifying max_length, inputmode and pattern
  packages/hidp/hidp/otp/forms.py
  packages/hidp/tests/smoke_tests/test_otp/test_views.py
Labels: package

#346 Add default Python and Django version for building docs
  .github/actions/build-hidp-docs/action.yml
Labels: documentation

#345 Fix password field names and make required when setting password
  packages/hidp/hidp/accounts/forms.py
Labels: package

#343 [HIDP-242] Move account_management_links function to utils
  packages/hidp/hidp/accounts/views.py
  packages/hidp/hidp/locale/django.pot
  packages/hidp/hidp/locale/nl/LC_MESSAGES/django.po
  packages/hidp/hidp/utils.py
Labels: package

#340 [HIDP-118] Add documentation about Terms of Service Mixin and template
  packages/hidp/docs/index.md
  packages/hidp/docs/terms-of-service.md
Labels: documentation, package

#341 HIDP-238 - Use EmailField in login form
  packages/hidp/hidp/accounts/forms.py
Labels: package
